<main>
  <header class="w-full h-[99px] bg-[#D9D9D9] flex justify-between items-center list-none">
    <li class="ml-[10px] text-[30px] text[#151015]">Pintura</li>
    <ul class="relative flex bg-[#151015] h-full w-3/6 justify-end items-center">
      <div class="absolute w-[0px] h-[0px] border-t-[99px] border-l-[66px] border-t-[#151015] border-x-[transparent] left-[-65px]"></div>

      <button class="mr-[20px] text-[30px] text-[#D9D9D9]">Inicio</button>
      <button class="mr-[20px] text-[30px] text-[#D9D9D9]">Información</button>
      <button class="relative top-[-2px] mr-[20px] w-[30px] h-[30px] bg-[#D9D9D9] rounded-full ">
        <div class="absolute w-[50%] h-[5px] bg-[#151015] top-[5px] left-[7px]" ></div>

        <div class="absolute w-[50%] h-[5px] bg-[#151015] top-[12px] left-[7px]" ></div>

        <div class="absolute w-[50%] h-[5px] bg-[#151015] top-[19px] left-[7px]" ></div>
      </button>
    </ul>
  </header>
  <div class="relative h-[522px] w-full bg-[#D9D9D9] truncate">
    <div class="absolute w-[100%] h-[100%] bg-[#1510157e] top-[0] z-10"></div>

    <div class="relative flex items-center justify-center w-[100%] h-[100%] top-[0] z-20">
      <h1 class="text-[#D9D9D9] text-[76px]">Pintura</h1>
    </div>


    <img src="https://upload.wikimedia.org/wikipedia/commons/b/b7/Rombouts_Card_players.jpg" class="absolute w-[100%] top-[-150px]">
  </div>

  <div class="flex  justify-between h-[403px]">
    <div>
      <h2 class="ml-[10px] mt-[79px] mb-[20px] text-[#151015] text-[32px]">Información</h2>
      <p class="ml-[10px] w-[686px] h-[171px] text-[20px] text-[#000000b2]">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae nostrum, officiis nemo ea sunt iste distinctio, expedita modi accusamus quas minus quae. Fugit vero quidem delectus, omnis sed natus beatae.</p>
    </div>
    <div class="relative w-[465px] h-[403px] bg-[#151015]">

      <div class="absolute w-[0px] h-[0px] border-t-[403px] border-l-[261px] border-t-[#151015] border-x-[transparent] left-[-261px]"></div>


      <div class="relative mx-auto my-[7%] w-[341px] h-[341px] rounded-full truncate">

        <div class="absolute w-[100%] h-[100%] bg-[#15101559] top-[0] z-10"></div>

        <img src="https://files.ocula.com/anzax/fb/fb6e2360-0f95-4308-aec3-248620483ecd_1200_1596.jpg" class="relative  w-full">
      </div>


    </div>
  </div>

</main>
